.create-user-wrapper {
    overflow: auto;
    min-height: calc(100vh - 100px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 500px;
    width: 100%;
}

.card form {
    padding: 30px 40px;
    background-color: white;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 11px 34px rgba(0, 0, 0, .25);
    border: 1px solid #DFE9FA;
    border-top: none;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    flex-shrink: 0;
}

.form-group input {
    width: 394px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

.form-group select {
    width: 394px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

button {
    background-color: #1a56db;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.container-header {
    background: linear-gradient(to right, #F3F7FD, #F1F6FE) !important;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #DFE9FA;
    border-bottom: 3px solid #DFE9FA;
    width: 100%;
    max-width: 500px;
}