.container {
    overflow-y: auto;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.form-row label{
    font-size: 18px;
    font-weight: bold;
}

.form-row button {
    margin-left: auto;
}

.input-group [type="text"] {
    width: 394px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}


.price-box input {
    width: 229px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

.damage-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.damage-item p {
    font-size: 18px;
    margin: 5px 0;
}

.damage-item strong {
    font-size: 20px;
}


.afslut-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 16px 40px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
}


