.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.data-table thead {
    background: linear-gradient(to right, #F3F7FD, #F1F6FE);
    border-bottom: 3px solid #DFE9FA;
    position: sticky;
    top: 0;
}

.data-table thead th {
    text-align: left;
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #1f1f1f;
}


.data-table tbody tr {
    border-top: 1px solid #cfcfcf;
}

.data-table tbody td {
    padding: 28px 22px;
    vertical-align: middle;
    font-size: 16px;
}

.data-table tbody td:nth-child(1),
.data-table tbody td:nth-child(2),
.data-table tbody td:nth-child(3),
.data-table tbody td:nth-child(4) {
    font-weight: 600;
    line-height: 1.8;
}

.data-table tbody td:last-child {
    width: 220px;
    text-align: right;
}

.data-table a {
    display: inline-block;
    background-color: #2f5be7;
    color: white;
    text-decoration: none;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

.data-table a:hover {
    background-color: #2448b8;
    transform: translateY(-1px);
}

.info-message {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
    color: #555;
}

