<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/dashboardStyle.css}">
    <link rel="stylesheet" th:href="@{/ListeGrid.css}">
    <link rel="icon" th:href="@{/images/BILABONNEMENT_favicon.svg}" type="image/png">
</head>
<body>
<header>
    <div th:replace="~{fragment :: navbar}"></div>
</header>

<main>
    <div class="page-header">
        <h1 th:text="${session.loggedInUser.getRoleDisplayName()}"></h1>
    </div>
    <div class="container">
        <div class="container-header">
            <h2>Dashboard</h2>
        </div>

        <div class="row">
            <div class="small-container" id="left-container">
                <div class="small-container-header">
                    <h2>Antal udlejede biler</h2>
                </div>
                <p th:text="${leasedCarsCount} + ' stks.'"></p>
            </div>

            <div class="small-container" id="right-container">
                <div class="small-container-header">
                    <h2>Samlet pris på nuværende udlejede biler</h2>
                </div>
                <p th:text="${#numbers.formatDecimal(totalPrice, 0, 'POINT', 0, 'COMMA')} + ' kr.'"></p>
            </div>
        </div>

        <div class="medium-container">
            <div class="small-container-header">
                <h2>Udlejede biler</h2>
            </div>
            <div class="section" id="dashboard-biler-section">
                <table th:unless="${cars.isEmpty()}" class="data-table">
                    <thead>
                    <tr>
                        <th>Vognnr.</th>
                        <th>Stelnr.</th>
                        <th>Mærke</th>
                        <th>Model</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.vehicleNo}"></td>
                        <td th:text="${car.chassisNo}"></td>
                        <td th:text="${car.brand}"></td>
                        <td th:text="${car.model}"></td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${cars.isEmpty()}" class="info-message">
                    Der er ingen udlejede biler.
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>