<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar">
    <div class="navbar">
        <div class="navbar-logo">
            <img th:src="@{/images/BILABONNEMENT_logo.svg}" alt="Bilabonnement logo">
        </div>
        <div class="navbar-buttons">
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('dataregistrering/ledige-biler')}"
               th:href="@{/dataregistrering/ledige-biler}">
                <button>Ledige biler</button>
            </a>
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('dataregistrering/opret-lejeaftale')}"
               th:href="@{/dataregistrering/opret-lejeaftale}">
                <button>Opret lejeaftale</button>
            </a>
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('skade-udbedring/tilbageleverede-biler')}"
               th:href="@{/skade-udbedring/tilbageleverede-biler}">
                <button>Tilbageleverede biler</button>
            </a>
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('skade-udbedring/skadesrapporter')}"
               th:href="@{/skade-udbedring/skadesrapporter}">
                <button>Skadesrapporter</button>
            </a>
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('forretningsudvikler/udlejede-biler')}"
               th:href="@{/forretningsudvikler/udlejede-biler}">
                <button>Udlejede biler</button>
            </a>
            <a th:if="${session.loggedInUser != null and session.loggedInUser.hasAccess('forretningsudvikler/skadesrapporter')}"
               th:href="@{/forretningsudvikler/skadesrapporter}">
                <button>Skadesrapporter</button>
            </a>
            <form th:if="${session.loggedInUser != null}" th:action="@{/log-ud}" method="post">
                <button type="submit">Log ud</button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>