<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/createUserStyles.css}">
    <link rel="icon" th:href="@{/images/BILABONNEMENT_favicon.svg}" type="image/png">
</head>
<body>

<header>
    <div th:replace="~{fragment :: navbar}"></div>
</header>
<main>
<div class="create-user-wrapper">
    <div class="container-header">
        <h1>Opret bruger</h1>
    </div>

    <div class="card">
        <form th:action="@{/admin/opret-bruger}" method="post">

            <div th:if="${param.success}" class="success-message">
                <p>Brugeren er oprettet</p>
                <br>
            </div>

            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
                <br>
            </div>


            <div class="form-group">
                <label>Brugernavn:</label>
                <input type="text" name="username" th:value="${username}" placeholder="Brugernavn">
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="form-group">
                <label>Rolle:</label>
                <select name="role">
                    <option value="dataregistrering">Dataregistrering</option>
                    <option value="skadeudbedring">Skade og Udbedring</option>
                    <option value="forretningsudvikler">Forretningsudvikler</option>
                </select>
            </div>

            <button type="submit">Opret bruger</button>

        </form>
    </div>
</div>
</main>
</body>
</html>