<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opret Lejeaftale</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/createLeaseStyles.css}">
</head>
<body>
<header>
    <div th:replace="~{fragment :: navbar}"></div>
</header>
<main>
    <div class="page-header">
        <h1>Dataregistrering</h1>
    </div>
    <div class="container" id="create-lease-container">
        <div class="container-header">
            <h2>Opret ny lejeaftale</h2>
        </div>
        <form th:action="@{/dataregistrering/opret-lejeaftale}" method="post">


            <div class="section">
                <div th:if="${param.success}" class="success-message">
                    Lejeaftalen er oprettet!
                    <br>
                </div>

                <h3>Kundeinformation</h3>

                <div class="row">

                    <div class="input-group">
                        <label>Fornavn</label>
                        <input type="text"
                               name="firstName"
                               placeholder="Fornavn"
                               required>
                    </div>

                    <div class="input-group">
                        <label>Efternavn</label>
                        <input type="text"
                               name="lastName"
                               placeholder="Efternavn"
                               required>
                    </div>

                    <div class="input-group">
                        <label>Email</label>
                        <input type="email"
                               name="email"
                               placeholder="Email"
                               required>
                    </div>

                    <div class="input-group">
                        <label>Tel.nr.</label>
                        <input type="text"
                               name="phoneNumber"
                               placeholder="Telefonnummer"
                               required>
                    </div>

                </div>
                <hr>
            </div>

            <div class="section">

                <div class="form-row">
                    <label>Vælg bil:</label>

                    <select name="carVehicleNo" required>
                        <option value="">-- Vælg bil --</option>

                        <option th:each="car : ${cars}"
                                th:value="${car.vehicleNo}"
                                th:text="${car.brand + ' ' + car.model}"
                                th:selected="${selectedCar != null and car.vehicleNo == selectedCar.vehicleNo}">
                        </option>

                    </select>
                </div>

                <div class="form-row">
                    <label>Udleveringslokation:</label>

                    <select name="deliveryLocationId" required>
                        <option value="">-- Vælg lokation --</option>

                        <option th:each="loc : ${locations}"
                                th:value="${loc.id}"
                                th:text="${loc.name}">
                        </option>

                    </select>
                </div>

                <div class="form-row">
                    <label>Abonnementslængde:</label>

                    <select name="leaseLength" required>
                        <option value="3">3 mdr.</option>
                        <option value="6">6 mdr.</option>
                        <option value="12">12 mdr.</option>
                        <option value="24">24 mdr.</option>
                    </select>
                </div>

                <div class="form-row">
                    <label>Kilometer pr. måned:</label>

                    <select name="kmPerMonth" required>
                        <option value="1500">1.500 km</option>
                        <option value="1750">1.750 km</option>
                        <option value="2000">2.000 km</option>
                        <option value="2500">2.500 km</option>
                        <option value="3000">3.000 km</option>
                        <option value="3500">3.500 km</option>
                        <option value="4000">4.000 km</option>
                        <option value="4500">4.500 km</option>
                    </select>
                </div>

                <div class="form-row">
                    <label>Start dato:</label>

                    <input type="date"
                           name="startDate"
                           required>
                </div>


            </div>

            <div class="section payment-section">

                <div class="payment-group">

                    <div class="payment-input">
                        <label>Førstegangsydelse:</label>

                        <div class="price-box">
                            <input type="number"
                                   name="downPayment"
                                   placeholder="Indtast beløb"
                                   required>

                            <span>kr.</span>
                        </div>
                    </div>

                    <div class="payment-input">
                        <label>Månedlig ydelse:</label>

                        <div class="price-box">
                            <input type="number"
                                   name="monthlyPayment"
                                   placeholder="Indtast beløb"
                                   required>

                            <span>kr.</span>
                        </div>
                    </div>

                    <button type="submit">
                        Opret lejeaftale
                    </button>

                </div>

            </div>

        </form>

    </div>
</main>


</body>
</html>